html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
    url("https://wallpapers.com/images/hd/agriculture-green-field-2uonvfiwye6lmcep.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.F-div {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.647);
  color: white;
}

.greeting {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  font-size: 37px;
  text-shadow: 0 0 20px black;
}


/* Target the specific Google Translate iframe classes you found */ iframe.VIpgJd-ZVi9od-ORHb-OEVmcd, iframe.skiptranslate { visibility: hidden !important; } /* You can also target that specific dynamic ID pattern just to be safe */ iframe[id^=":1.container"] { visibility: hidden !important; } /* Ensure the body doesn't stay pushed down */ body { top: 0px !important; }